---
import BaseLayout from '../layouts/BaseLayout.astro'
import SectionContainer from '../components/etiquetas/SectionContainer.astro';
import H2 from '../components/etiquetas/H2.astro'
import TwitterIcon from "../components/icons/Twitter.astro"
import SocialPill from "../components/SocialPill.astro"
import InstagramIcon from "../components/icons/Instagram.astro"
---
<BaseLayout 
	title="Adrián Gcía - UX Design Project Manager"
	description="UX Design Project Estrategic Management"
>
    <SectionContainer class="pt-11 text-pretty">	
        <img 
            class="rounded-2xl w-40 h-40 mb-4" 
            src="/images/adriangciaperfil.webp" 
            alt="Portfolio hecho con Astro y Tailwind"
        />
        <H2 class="flex flex-row text-5xl font-bold gap-x-3 pb-4">
            Hola, soy Adrián 	
        </H2>
        <nav class="flex flex-wrap my-5 gap-x-3 gap-y-1">
            <SocialPill href="https://twitter.com/Adrian_Gcia" target="_blanck">
                <TwitterIcon
                    class="size-6"
                />
                    <span>Twitter</span>						
            </SocialPill>
            <SocialPill href="https://www.instagram.com/adrian_gcia/" target="_blanck">
                <InstagramIcon
                    class="size-7"
                />
                    <span>Instagram</span>						
            </SocialPill>
        </nav>
        <p>
            Diseñador de producto, especialista en Project Management, Design Thinking, Experiencia de Usuario y diseño de servicios.            
        </p>
        <p>
            He trabajado en todo tipo de proyectos con equipos multidisciplinares, pero los últimos años de mi vida he estado enfocado en producto / servicio digital para industria 4.0 y elearning.            
        </p>
        <p>
            En mi día a día trato con el cliente, y usuarios, para entender sus necesidades, me encargo del proceso de diseño, gestiono el Scrum con el equipo, maqueto el frontend, y testeo las soluciones.
        </p>
        <p>
            Trabajo con herramientas de diseño, Trello, Gitlab, Figma, CSS, HTML, React, Astro, Wordpress, Visual Studio Code, Slack, Drive, Inkscape...
        </p>        
        <p>
            Soy una persona muy curiosa que me gusta estar continuamente aprendiendo cosas nuevas, algo que me ayuda a la hora de tener una visión 360º en la gestión de proyecto.
        </p>
        <p>
            También me gusta implicarme socialmente aportando mi granito de arena en donde mis conocimientos sean de ayuda, te cuento más.
        </p>
        <p>
            Desde 2012 me he implicado en la directiva de la Asociación de Diseñadores Industriales de Asturias (DIDA), ayudando a divulgar el valor del diseño en la región, creando y organizando eventos como Design & Drinks o el congreso de diseño y sociedad Design & You.
        </p>
        <p>
            En 2019 nos reunimos entre todas las asociaciones, y entidades, relacionadas con el diseño en Asturias y creamos el colectivo Asturias Diseña, con el que organizamos las jornadas de Asturias Diseña en Oviedo, Gijón y Avilés, siendo yo el responsable de las actividades en Oviedo; y los primeros premios al Diseño Asturiano de Asturias Diseña.
        </p>
        <p>
            Fuera de mi vida laboral me gusta hacer deporte, la música, los videojuegos, las series, leer.
        </p>
        <p>
            Intento practicar deporte a diario, ya que creo importante estar en forma fisicamente para estar también en forma mentalmente, además de servir de desconexión.
        </p>
        <p>
            Practico varios deportes de forma más o menos asidua durante las semanas: roller freestyle, kick boxing, escalada, MTB, ski, snowboard.
        </p>
        <div class="flex justify-center items-center">
            <img src="../images/mutegrab.webp" width="50%" class="rounded-xl object-center mt-5 mb-5"/>
        </div>       
        <p>
            En el que más implicado estoy es en roller freestyle, o aggressive inline, que llevo practicándolo desde el 95, y desde el 2018 obstento el cargo de director del comité de la disciplina en la Federación de Patinaje del Principado de Asturias.
            Así aporto mi knowhow como diseñador, ingeniero y gestor de proyectos, para orgranizar eventos, competiciones y asesorar a ayuntamientos a la hora de afrontar proyectos para la construcción de skateparks y otras instalaciones.
        </p>
    </SectionContainer>
</BaseLayout>
