<div class="nav-links"> 
    <a href="/">Hola</a>
    <a href="/about">Sobre mi</a>
    <a href="/projects">Proyectos</a>
    <a href="/blog">Blog</a>
    <!-- <a href="/contact">Contacto</a>      -->
</div>
